.spread3 {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: blue;
    height: 100%;
    width: 100%;
    /* Twice the width of a single column */
    background-color: lightblue;
    /* Additional styling */
    padding: 0 30px;
    border-radius: 30px;
}

.spread3>input {
    background-color: aliceblue;
    width: 200px;
}

.spread3>h1 {
    font-size: 2em;
    margin: 2vw 0;
}

.spread3>p {
    font-size: 1.4em;
    margin: 0 0 1.5vw 0;
}