* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hider: 1;
    --textPositioner: 0vw;
}

.editorHolder {
    display: grid;
    grid-template-columns: calc(var(--hider)*250px) 1fr;
    grid-template-rows: auto;
    height: 100%;
    background-color: rgba(103, 89, 94, 1);
}

.sideColumn {
    width: 250px;
    height: 100%;
    min-height: 100vh;
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: rgba(238, 214, 211, 1);
    overflow: hidden;
}

.content {
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: red;
    width: fit-content;
    height: fit-content;
}

.spaceHolder {
    padding: 1.5vw;
}

.gridHolder {
    margin: 2vw 0;
    padding: 4vw 3.8vw;
    min-width: fit-content;
    height: fit-content;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 0);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(5, 16%);
    grid-template-rows: repeat(6, 13%);
    grid-gap: 3.5vw;
    border-radius: 30px;
}

.sixRows {
    grid-template-rows: repeat(6, 13%);
}

.fiveRows {
    grid-template-rows: repeat(5, 16%);
}

.fourRows {
    grid-template-rows: repeat(4, 20.4%);
}

.threeRows {
    grid-template-rows: repeat(3, 27.5%);
}

.calendarHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 265px);
    min-height: 90vh;
    background-color: rgba(103, 89, 94, 1);
}

.catalogueHolder {
    margin: 2vw 0;
    width: 95%;
    min-height: 90vh;
    display: grid;
    background-color: rgba(56, 28, 150, 0);
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(10, 40vw);
    grid-gap: 0px;
    border-radius: 30px;
    overflow: hidden;
}

.backGroundHolder {
    min-height: 100vw;
    width: 95%;
    background-position: center;
    background-size: cover;
    margin: 2vw 0;
    overflow: hidden;
    border-radius: 30px;
}

.catalogueImage {
    display: flex;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.calendarContent {
    background-color: rgba(103, 89, 94, 1);
}

.calendarGridHolder {
    margin: 30px;
    padding: 50px;
    max-width: 1320px;
    min-width: 1320px;
    min-height: 90vh;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 1);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 80px;
    margin: 0 auto;
    border-radius: 30px;
}

.flexColumnCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1vw;
}

.flexColumnCentered>p {
    margin: 1vw 0;
}


.flexCentered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.welcomeText {
    background-color: rgba(0, 0, 0, 0.395);
    position: absolute;
    top: 20vw;
    left: calc(34vw - var(--textPositioner));
    width: 650px;
    font-size: xx-large;
    color: white;
    z-index: 9;
    border-radius: 20px;
    padding: 20px 0;

}

.welcomeText2 {
    background-color: rgba(0, 0, 0, 0.395);
    width: 650px;
    font-size: xx-large;
    color: white;
    border-radius: 20px;
    padding: 20px 0;

}

.textHolder {
    margin: 20px 0;
    width: 600px;
    text-align: center;
}

.welcomeText h1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.calendarImage {
    display: flex;
    perspective: 900px;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}



.showIt {
    background-image: url("https://images.unsplash.com/photo-1605197161470-d0261cac6767?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c21hbGwlMjBkb2d8ZW58MHx8MHx8fDA%3D")
}

.calendarImage image {
    width: 100%;
    height: 100%;
}

.hatch {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgba(127, 255, 212, 0);
    transform-origin: var(--i);
}

.hatchNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: fit-content;
    /* color: rgba(245, 245, 245, 0.8);
    background-color: rgba(0, 0, 0, 0.4); */
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(245, 245, 245, 0.341);
    border-bottom-right-radius: 5px;
}

.right {
    --i: right center;
    --y: -1;
}

.left {
    --i: left center;
    --y: 1;
}

.top {
    --i: top center;
    --y: -1;
}

.openStyle {
    animation-name: openIt;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

@keyframes openIt {
    0% {
        background-color: rgb(250, 250, 250);
        transform: rotateY(0deg);
    }

    29.1% {
        background-color: rgb(230, 230, 230);
    }

    100% {
        background-color: rgb(224, 199, 170);
        transform: rotateY(calc(var(--y) * -95deg));

    }
}

.closedStyle {
    border: 1px dashed rgba(255, 255, 255, 0.601);
    animation-name: closeIt;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: var(--i);
    transform-style: preserve-3d;
}

.sidebarArrow {
    position: fixed;
    width: 20px;
    top: 50%;
    left: 0;
    font-size: xx-large;
    /* rounded-lg bg-mainBackground  */
    border-style: none;
    cursor: default;
    z-index: 10;
    color: rgba(238, 214, 211, 1);
}

@keyframes closeIt {
    0% {
        background-color: rgb(224, 199, 170);
        transform: rotateY(calc(var(--y) * -95deg))
    }

    33% {
        background-color: rgb(187, 167, 145);
    }

    66% {
        background-color: rgb(215, 215, 215);
    }

    90% {
        background-color: rgba(240, 248, 255, 0);
    }

    100% {
        background-color: unset;
        transform: rotateY(0deg);
    }
}

@media only screen and (max-width: 1300px) {
    .gridHolder {
        grid-template-columns: repeat(4, 20.9%);
        grid-template-rows: repeat(8, 10%);
    }

    .fiveRows {
        grid-template-rows: repeat(6, 13.7%);
    }

    .fourRows {
        grid-template-rows: repeat(5, 16.4%);
    }

    .threeRows {
        grid-template-rows: repeat(4, 21%);
    }

    .catalogueHolder {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(15, 55vw);
        grid-gap: 0px;
        border-radius: 30px;
    }

    .backGroundHolder {
        min-height: 90vw;
    }
}

@media only screen and (max-width: 1100px) {
    :root {
        --hider: 0;
        --textPositioner: 14vw;
    }

    .gridHolder {
        grid-template-columns: repeat(4, 20.9%);
        grid-template-rows: repeat(8, 10%);
        grid-gap: 4.7vw;
    }

    .fiveRows {
        grid-template-rows: repeat(6, 13.7%);
    }

    .fourRows {
        grid-template-rows: repeat(5, 16.4%);
    }

    .threeRows {
        grid-template-rows: repeat(4, 20.8%);
    }

    .catalogueHolder {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(15, 55vw);
        grid-gap: 0px;
        border-radius: 30px;
    }

    .backGroundHolder {
        min-height: 90vw;
    }

    .sideColumn {
        background-color: rgba(103, 89, 94, 1);
        width: 5px;
    }

    .sideColumn:hover {
        --hider: 1;
        width: 250px;
        background-color: rgba(238, 214, 211, 1);
        z-index: 10;
    }

    .calendarHolder {
        width: calc(99vw - 5px);
        min-height: 90vh;
        background-color: rgba(103, 89, 94, 1);
    }
}