* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}

:root {
    --hider: 1;
    --textPositioner: 0vw;
    --columns: 5, 20%;
    --rows: 6, 13%;
}

.editorHolder {
    display: grid;
    grid-template-columns: 220px 1fr;
    /* grid-template-columns: calc(var(--hider)*220px) 1fr; */
    transition: grid-template-columns 0.5s;
    grid-template-rows: auto;
    height: 100%;
    background-color: rgba(103, 89, 94, 1);
}

.sideColumn {
    width: 220px;
    transition: width 0.5s;
    height: 100%;
    min-height: 100vh;
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: rgba(238, 214, 211, 1);
    overflow: hidden;
}

.content {
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    width: fit-content;
    height: fit-content;
}

.spaceHolder {
    padding: 1.5vw;
}

/* Create two css variables for the amount of columns and hatchesAmount. Hatches divided by columns will give us a number of rows.
If number is fex 4.2 You need five rows */
.gridHolder {
    margin: 2vw 0;
    padding: 4vw 3.8vw;
    min-width: fit-content;
    height: fit-content;
    width: 60%;
    height: 100%;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 0);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: repeat(6, 13.5%);
    grid-gap: 3.5vw;
    border-radius: 30px;
}

.gridHolderPreview {
    margin: 2vw 8vw;
    padding: 4vw 3.8vw;
    min-width: fit-content;
    height: fit-content;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 0);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(5, 16.2%);
    grid-template-rows: repeat(6, 13.5%);
    grid-gap: 3.5%;
    border-radius: 30px;
}

.sixRows {
    grid-template-rows: repeat(6, 14%);
}

.fiveRows {
    grid-template-rows: repeat(5, 16%);
}

.fourRows {
    grid-template-rows: repeat(4, 20.4%);

}

.threeRows {
    grid-template-rows: repeat(3, 27.5%);
}

.twoRows {
    grid-template-rows: repeat(2, 40%);
}

.threeColumns {
    grid-template-columns: repeat(3, 28%);
    width: 1000px;
}

.fourColumns {
    grid-template-columns: repeat(4, 20%);
}

.fiveColumns {
    grid-template-columns: repeat(5, 16.6%);
    gap: 3vw;
    width: 80%;
}

.sixColumns {
    grid-template-columns: repeat(6, 13%);
    gap: 3vw;
    width: 80%;
}

.calendarHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: calc(100vw - 235px); */
    width: 100vw;
    transition: width 0.5s;
    min-height: 80vh;
    background-color: rgba(103, 89, 94, 1);
}

.catalogueHolder {
    margin: 6vw 0;
    width: 85%;
    min-height: 90vh;
    display: grid;
    background-color: rgba(56, 28, 150, 0);
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(10, 34vw);
    grid-gap: 40px;
    /* border-radius: 30px; */
    overflow: hidden;
}

.hatchCatalogueHolder {
    margin: 20px 0 100px;
    width: 85%;
    min-height: 90vh;
    display: grid;
    background-color: rgba(56, 28, 150, 0);
    grid-template-columns: repeat(3, 30.5%);
    grid-template-rows: repeat(10, 27vw);
    grid-gap: 40px;
    border-radius: 30px;
    overflow: hidden;
}

.backGroundHolder {
    margin: 200px 0;
    min-height: 90vh;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.catalogueImage {
    display: flex;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: rgba(240, 248, 255, 0);
    border-radius: 25px;
}

.catalogueImageHolder {
    display: flex;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    height: fit-content;
    width: fit-content;
    color: rgba(240, 248, 255, 0);
    z-index: 2;
}

.catalogueImage:hover {
    color: rgb(240, 248, 255);
    background-color: rgba(0, 0, 0, 0.508);
    cursor: pointer;
}

.calendarContent {
    background-color: rgba(103, 89, 94, 1);
}

.calendarGridHolder {
    margin: 30px;
    padding: 50px;
    max-width: 1320px;
    min-width: 1320px;
    min-height: 90vh;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 1);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 80px;
    margin: 0 auto;
    border-radius: 30px;
}

.flexColumnCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1vw;
}

.flexColumnCentered>p {
    margin: 1vw 0;
}


.flexCentered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.datePickers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.welcomeText {
    background-color: rgba(0, 0, 0, 0.395);
    position: absolute;
    top: 500px;
    left: calc(34vw - var(--textPositioner));
    width: 650px;
    font-size: xx-large;
    color: white;
    z-index: 9;
    border-radius: 20px;
    padding: 20px 0;
}

.welcomeText2 {
    background-color: rgba(0, 0, 0, 0.395);
    width: 650px;
    font-size: xx-large;
    color: white;
    border-radius: 20px;
    padding: 20px 0;

}

.textHolder {
    margin: 20px 0;
    width: 600px;
    text-align: center;
}

.welcomeText h1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.calendarImage {
    display: flex;
    perspective: 2500px;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}



.showIt {
    background-image: url("https://images.unsplash.com/photo-1605197161470-d0261cac6767?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c21hbGwlMjBkb2d8ZW58MHx8MHx8fDA%3D")
}

.calendarImage image {
    width: 100%;
    height: 100%;
}

.hatch {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgba(127, 255, 212, 0);
    transform-origin: var(--i);
    cursor: pointer;
}


.editorHatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    color: rgba(240, 248, 255, 0);
}

.editorHatch:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.496);
}

.hatchNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 1.7rem; */
    height: fit-content;
    font-size: 1em;
    padding: 0 0.5rem;
    /* color: rgba(245, 245, 245, 0.8);
    background-color: rgba(0, 0, 0, 0.4); */
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(245, 245, 245, 0.341);
    border-bottom-right-radius: 5px;
}

.hatchDate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    font-size: 1em;
    /* color: rgba(245, 245, 245, 0.8);
    background-color: rgba(0, 0, 0, 0.4); */
    /*     color: rgba(0, 0, 0, 0.7);
    background-color: rgba(245, 245, 245, 0.341); */
    border-bottom-right-radius: 5px;
}

.hatchDate p {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(245, 245, 245, 0.341);
}

.right {
    --i: right center;
    --y: -1;
}

.left {
    --i: left center;
    --y: 1;
}

.top {
    --i: top center;
    --y: -1;
}

.openStyle {
    animation-name: openIt;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

@keyframes openIt {
    0% {
        background-color: rgb(250, 250, 250);
        transform: rotateY(0deg);
    }

    29.1% {
        background-color: rgb(230, 230, 230);
    }

    100% {
        background-color: rgb(224, 199, 170);
        transform: rotateY(calc(var(--y) * -95deg));

    }
}

.closedStyle {
    border: 1px dashed rgba(255, 255, 255, 0.601);
    animation-name: closeIt;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: var(--i);
    transform-style: preserve-3d;
}

.sidebarArrow {
    position: fixed;
    width: 20px;
    top: 50%;
    left: 0;
    font-size: xx-large;
    /* rounded-lg bg-mainBackground  */
    border-style: none;
    cursor: default;
    z-index: 10;
    color: rgba(238, 214, 211, 1);
}

@keyframes closeIt {
    0% {
        background-color: rgb(224, 199, 170);
        transform: rotateY(calc(var(--y) * -95deg))
    }

    33% {
        background-color: rgb(187, 167, 145);
    }

    66% {
        background-color: rgb(215, 215, 215);
    }

    90% {
        background-color: rgba(240, 248, 255, 0);
    }

    100% {
        background-color: unset;
        transform: rotateY(0deg);
    }
}

.spread3 {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #c2c0c0; */
    width: 100%;
}

.startBox {
    background-color: rgb(234, 228, 227);
    height: fit-content;
    border-radius: 30px;
    padding: 0 50px;
}

.spread3 input {
    background-color: aliceblue;
    width: 200px;
}

.spread3>h1 {
    font-size: 2em;
    margin: 40px 0 10px 0;
}

.spread3 p {
    font-size: 1.4em;
    margin: 20px 0 10px 0;
}

.spread3>button {
    margin-bottom: 40px;
}


@media only screen and (max-width: 1600px) {

    /*    .sixColumns {
        grid-template-columns: repeat(5, 16.5%);
        gap: 3vw;
        width: 80%;
    }*/
    .hatchAmount26 {
        grid-template-columns: repeat(5, 16.5%);
        grid-template-rows: repeat(6, 14%);
        gap: 3vw;
        width: 80%;
    }

    .hatchAmount27 {
        grid-template-columns: repeat(5, 16.5%);
        grid-template-rows: repeat(6, 14%);
        gap: 3vw;
        width: 80%;
    }

    .hatchAmount28 {
        grid-template-columns: repeat(5, 16.5%);
        grid-template-rows: repeat(6, 14%);
        gap: 3vw;
        width: 80%;
    }

    .hatchAmount29 {
        grid-template-columns: repeat(5, 16.5%);
        grid-template-rows: repeat(6, 14%);
        gap: 3vw;
        width: 80%;
    }

    .hatchAmount30 {
        grid-template-columns: repeat(5, 16.5%);
        grid-template-rows: repeat(6, 14%);
        gap: 3vw;
        width: 80%;
    }

    /*  .fiveRows {
        grid-template-rows: repeat(6, 14%);
    } */

}

@media only screen and (max-width: 1500px) {
    .gridHolder {
        width: 80%
    }

    .fourColumns {
        gap: 3.5vw;
        grid-template-columns: repeat(4, 20.9%);
    }

    .threeColumns {
        width: 60%;
        gap: 3.5vw;
        grid-template-columns: repeat(3, 29%);
    }

}

@media only screen and (max-width: 1300px) {
    :root {
        --textPositioner: 14vw;
    }

    .editorHolder {
        grid-template-columns: 0 1fr;
    }

    /* .sideColumn {
        background-color: rgba(103, 89, 94, 1);
        width: 0;
        transition: width 0.5s;
    } */

    .gridHolder {
        width: 85%
    }

    .threeColumns {
        width: 65%;
        grid-template-columns: repeat(3, 29%);
    }


    .sideColumn.hide {
        width: 0px;
        transition: width 0.5s;

    }

    .sideColumn.show {
        position: fixed;
        left: 0;
        width: 220px;
        transition: width 0.5s;
    }

    .calendarHolder {
        width: calc(100vw - 17px);
        min-height: 100vh;
        background-color: rgba(103, 89, 94, 1);
    }

    .fiveColumns {
        grid-template-columns: repeat(4, 22%);
    }

    .fourColumns {
        grid-template-columns: 3, 31%;
    }

    .fourRows {
        grid-template-rows: repeat(5, 16.4%);
    }

    .hatchAmount16 {
        grid-template-rows: repeat(4, 20.4%);
    }

    .fiveRows {
        grid-template-rows: repeat(6, 14%);
    }

    .hatchAmount25 {
        grid-template-rows: repeat(7, 12.2%);
    }

    .threeRows {
        grid-template-rows: repeat(3, 30%);
    }

    .sixRows {
        grid-template-rows: repeat(7, 10.7%);
    }

    .hatchAmount10 {
        /* grid-template-columns: repeat(3, 31%); */
        grid-template-rows: repeat(4, 20.4%);
    }

    .hatchAmount11 {
        grid-template-rows: repeat(4, 20.4%);
    }

    .hatchAmount12 {
        grid-template-rows: repeat(4, 20.4%);
    }

    .hatchAmount13 {
        grid-template-rows: repeat(4, 22%);
    }

    .hatchAmount15 {
        grid-template-columns: repeat(3, 29%);
        grid-template-rows: repeat(5, 17%);
        gap: 5vw;
    }

    .hatchAmount20 {
        grid-template-rows: repeat(5, 17%);
    }

    .hatchAmount19 {
        grid-template-rows: repeat(5, 17%);
    }

    .hatchAmount18 {
        grid-template-rows: repeat(5, 17%);
    }

    .hatchAmount17 {
        grid-template-rows: repeat(5, 17%);
    }



    /* .gridHolder {
        grid-template-columns: repeat(4, 20.9%);
        grid-template-rows: repeat(8, 10%);
    }
    

    .gridHolderPreview {
        grid-template-columns: repeat(4, 21.5%);
        grid-template-rows: repeat(8, 10.6%);
        margin: 2vw 6vw;
    }

    .sixRows {
        grid-template-rows: repeat(8, 10%);
        grid-template-rows: repeat(7, 11.7%);
    }




    .fiveRows {
        grid-template-rows: repeat(6, 13.7%);
    }

    .fourRows {
        grid-template-rows: repeat(5, 16.4%);
    }

    .threeRows {
        grid-template-rows: repeat(4, 21%);
    }

    .twoRows {
        grid-template-rows: repeat(2, 40%);
    }

    .catalogueHolder {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(15, 55vw);
        grid-gap: 0px;
        border-radius: 30px;
    } */
}

@media only screen and (max-width: 1100px) {


    /*     .gridHolder {
        grid-template-columns: repeat(4, 20.9%);
        grid-template-rows: repeat(8, 10%);
        grid-gap: 4.7vw;
    }

    .gridHolderPreview {
        grid-template-columns: repeat(4, 20.5%);
        grid-template-rows: repeat(8, 10%);
        grid-gap: 4.7vw;
    }

    .sixRows {
        grid-template-rows: repeat(8, 10%);
    }

    .fiveRows {
        grid-template-rows: repeat(6, 13.7%);
    }

    .fourRows {
        grid-template-rows: repeat(5, 16.4%);
    }

    .threeRows {
        grid-template-rows: repeat(4, 20.8%);
    }

    .twoRows {
        grid-template-rows: repeat(2, 40%);
    } */

    .hatchAmount13 {
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(5, 17.5%);
    }

    .hatchAmount14 {
        grid-template-columns: repeat(3, 29%);
        grid-template-rows: repeat(5, 16.5%);
    }

    .hatchAmount15 {
        grid-template-columns: repeat(3, 29%);
        grid-template-rows: repeat(5, 16.5%);
    }

    .catalogueHolder {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(15, 55vw);
        grid-gap: 30px;
        border-radius: 30px;
    }

    .backGroundHolder {
        min-height: 90vw;
    }


    /* .sideColumn:hover {
        --hider: 1;
        width: 250px;
        background-color: rgba(238, 214, 211, 1);
        z-index: 10;
    } */

    .calendarHolder {
        width: calc(100vw - 17px);
        min-height: 90vh;
        background-color: rgba(103, 89, 94, 1);
    }

    /*  .hatchNumber {
        font-size: 1.2em;
        width: 1.5rem;
    } */
}

@media only screen and (max-width: 800px) {
    .spread3 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
        padding: 0 30px;
        border-radius: 30px;
    }

    .datePickers {
        justify-content: center;
    }
}