* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.editorHolder {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    background-color: rgba(238, 214, 211, 1);
}

.sideColumn {
    width: fit-content;
    height: fit-content;
    grid-column-start: 1;
    grid-row-start: 1;
}

.content {
    width: calc(99vw - 250px);
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: red;
    width: fit-content;
    height: fit-content;
}

.spaceHolder {
    padding: 1.5vw;
}

.gridHolder {
    margin: 30px;
    padding: 50px;
    max-width: 1060px;
    min-width: 1060px;
    min-height: 1200px;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 0);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 80px;
    margin: 0 auto;
    border-radius: 30px;
}

.calendarHolder {
    width: calc(99vw - 250px);
    /* width: 84vw; */
    min-height: 90vh;
    background-color: rgba(103, 89, 94, 1);
    padding: 40px 0;
}

.catalogueHolder {
    width: calc(99vw - 250px);
    /* width: 84vw; */
    min-height: 90vh;
    display: grid;
    background-color: rgba(103, 89, 94, 1);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
}

.catalogueImage {
    display: flex;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    height: 40vw;
    width: 25vw;
    background-size: cover;
    background-position: center;
}

.calendarContent {
    background-color: rgba(103, 89, 94, 1);
}

.calendarGridHolder {
    margin: 30px;
    padding: 50px;
    max-width: 1320px;
    min-width: 1320px;
    min-height: 90vh;
    position: relative;
    display: grid;
    background-color: rgba(103, 89, 94, 1);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 80px;
    margin: 0 auto;
    border-radius: 30px;
}

.flexColumnCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcomeText {

    background-color: rgba(0, 0, 0, 0.395);
    position: absolute;
    top: 10vw;
    left: 20vw;
    width: 650px;
    font-size: xx-large;
    color: white;
    z-index: 9;
    border-radius: 20px;
    padding: 20px 0;

}

.textHolder {
    margin: 20px 0;
    width: 600px;
    text-align: center;
}

.welcomeText h1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.calendarImage {
    display: flex;
    perspective: 900px;
    position: relative;
    background-color: rgba(127, 255, 212, 0);
    height: 180px;
    width: 180px;
    background-size: cover;
    background-position: center;
}



.showIt {
    background-image: url("https://images.unsplash.com/photo-1605197161470-d0261cac6767?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c21hbGwlMjBkb2d8ZW58MHx8MHx8fDA%3D")
}

.calendarImage image {
    width: 100%;
    height: 100%;
}

.hatch {
    height: 180px;
    width: 180px;
    display: grid;
    background-color: rgba(127, 255, 212, 0);
    transform-origin: var(--i);
}

.hatchNumber {
    color: rgb(179, 58, 58);
}

.right {
    --i: right center;
    --y: -1;
}

.left {
    --i: left center;
    --y: 1;
}

.top {
    --i: top center;
    --y: -1;
}

.openStyle {
    animation-name: openIt;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

@keyframes openIt {
    0% {
        background-color: rgb(250, 250, 250);
        transform: rotateY(0deg);
    }

    29.1% {
        background-color: rgb(230, 230, 230);
    }

    100% {
        background-color: rgb(224, 199, 170);
        transform: rotateY(calc(var(--y) * -110deg));

    }
}

.closedStyle {
    border: 1px dashed rgba(255, 255, 255, 0.377);
    animation-name: closeIt;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: var(--i);
    transform-style: preserve-3d;
}

@keyframes closeIt {
    0% {
        background-color: rgb(224, 199, 170);
        transform: rotateY(calc(var(--y) * -110deg))
    }

    33% {
        background-color: rgb(187, 167, 145);
    }

    66% {
        background-color: rgb(215, 215, 215);
    }

    90% {
        background-color: rgba(240, 248, 255, 0);
    }

    100% {
        background-color: unset;
        transform: rotateY(0deg);
    }
}