.Header-container {
  background-color: #EED6D3;
  color: #272144;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  max-width: 100vw;
}

.Header-content {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  width: 100%;
  margin-left: 60%; /* Push to the right */
  margin-right: 6%; /* Adjust margin */
}
 

.navbar {
  display: flex;
  align-items: flex-end; /* Align to the right */
  justify-content: flex-end; /* Align to the right */
  width: 100%;
}

.footer-container {
  background-color: #EED6D3;
  color: #272144; /* Assuming white is the accent color */
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
}

.footer-title {
  margin: 12px 99px; /* Assuming you want some specific margin */
  font-size: 16px; /* Assuming you want to set font size */
  color: white; /* Assuming you want white color */
  text-decoration: underline;
}

.footer-nav {
  display: flex;
  text-decoration: underline;
}

.footer-nav a {
  color: #272144;
  margin-right: 20px;
}

.media-icons {
  display: flex;
  align-items: flex-end;
}

.media-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.container-collection,
.container-edit {
  background-color: #c79263;
  color: #272144; /* Assuming white is the accent color */
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
