* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

p {
    font-size: x-large;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(238, 214, 211, 1);
}

.filters {
    padding: 20px;
    /*  margin: 0 0 20px 0; */
    width: 220px;
    border-bottom: 1px solid black;
}

.themeHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.themeSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.themeSelection:hover {

    color: whitesmoke;
}

label {
    margin: 0px 0 5px 12px;
    width: 70.2px;
}

.fullWidth {
    display: flex;
    width: 175px;
    justify-content: center;
    margin-bottom: 20px;
}