* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: none;
    cursor: pointer;
}

p {
    font-size: x-large;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    width: 220px;
    overflow: hidden;
    /* position: fixed;
    left: 0; */
}

.sideBarForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 8px 30px 8px;
}

.filters {
    padding: 20px;
    width: 220px;
    overflow: inherit;
}

.sidebarButton {
    width: 180px;
    overflow: inherit;
}

.sidebarButton:hover {
    width: 180px;
    overflow: inherit;
    color: whitesmoke;
    cursor: pointer;
}

.themeHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.themeSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.themeSelection:hover {
    color: whitesmoke;
}

.double {
    width: 135px;
}

label {
    margin: 0px 0 5px 12px;
    width: 70.2px;
}

.fullWidth {
    display: flex;
    width: 175px;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebarArrow {
    position: fixed;
    width: 30px;
    height: 95%;
    top: 112px;
    left: 0;
    font-size: xx-large;
    border-style: none;
    cursor: default;
    z-index: 10;
    color: rgba(238, 214, 211, 1);
}