.showContainer {
    display: flex;
    justify-content: start;
     margin-left: 15px;
    flex-wrap: wrap;
  }
  
  .showCard {
    width: 100%;
    max-width: 850px;
    height: 450px;
    overflow: hidden;
    position: relative;
  }
  
  .navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .bar {
    width: 50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
  }
  
  .bar:hover {
    background: white;
  }
  
  input[name="r"] {
    position: absolute;
    visibility: hidden;
  }
  
  .slides {
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide {
    width: 20%;
    transition: 1.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .showCard .slide .image-date {
    position: absolute;
    top: 0;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .image-date h2 {
    font-size: 25px;
    color: white;
  }
  .radio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #r1:checked ~ .s1 {
    margin-left: 0;
  }
  
  #r2:checked ~ .s1 {
    margin-left: -20%;
  }
  
  #r3:checked ~ .s1 {
    margin-left: -40%;
  }
  
  #r4:checked ~ .s1 {
    margin-left: -60%;
  }
  
  #r5:checked ~ .s1 {
    margin-left: -80%;
  }
  @media (max-width: 600px) {
  
    .bar{
      width:30px;
    }
    .navigation {
      justify-content: flex-start;
    }
   
  }